/* import your sprites here */
 @import "buttons/*.png"; 

/* Global */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
a { color: black; }


/* Body */
body {

}

/* Page Wrapper */
#page-wrapper {

}

/* Global Header */
#global-header {

}

.carousel {
	a {
		margin: 0 15px;
	}
	#previous {
		@include btn(previous);
		display: inline-block;
	}
	#next {
		@include btn(next);
		display: inline-block;
	}

	.image-container {
		position: relative;
		width: 359px;
		height: 356px;
		display: inline-block;
		vertical-align: middle;
	}
	.frame {
		position: absolute;
		top: 0;
		left: 0;
		width: 359px;
		height: 356px;
		z-index: 10;
		background: image-url('frame.png');
		@include box-shadow(0px 6px 10px -2px #888);
	}
	.image {
		margin: 3px 0 0 7px;
	}

}

/* Global Footer */
#global-footer {

}